.person-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.person-form input {
    padding: 0.75rem;
}

.person-form button {
    padding: 0.75rem;
    cursor: pointer;
}

.error {
    font-size: 0.9rem;
    color: var(--danger-color)
}