.transaction-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.transaction-form input,
.transaction-form select {
    padding: 0.75rem;
}

.transaction-form button {
    padding: 0.75rem;
    cursor: pointer;
}

.error {
    font-size: 0.9rem;
    color: var(--danger-color)
}